
<h1>ShoutOut.Queens</h1>
<h2>Represent Women Right</h2>
<%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9oa5Y3BHbPX6l0W2CEfv63-NYJNMZdaMjK7-0TkZI72oLx51hJw&s") %>
<h3>We are a group of teens trying to bring awarness to women represntation. Women are often represented as stay at home moms, soft, weak, tools for men, need men and etc. </h3>
