<%= link_to "AboutUs", about_us_path %>
<h1>ShoutOutQueens</h1>
<h2>Represent Women Right</h2>
<%= image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9oa5Y3BHbPX6l0W2CEfv63-NYJNMZdaMjK7-0TkZI72oLx51hJw&s") %>
